
/* ******************************************* WORKNAV */
.navwork {
  text-align: center;
  padding-top: 0.5rem;
  margin: 0 0 50px 0;
  position: relative;
  padding-top: 2rem;
  
}
.navwork::before {
  content: "";
  position: absolute;
  top:10px;
  left: 50%;
  transform: translateX(-50%);
  width: 45%;
  height: 1px;
  background-color: rgba(231, 49, 49, 0.3);
}
.navwork ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3.5rem;
}
.navwork a, .navwork li {
  text-align: center;
  font-family: "libre baskerville", serif;
}

@media (max-width: 900px) {
  .navwork ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  }
  .navwork li, .navwork a {
    line-height: 1; /* or 1, or whatever looks best */
    font-size: 0.85rem;
  }
}